

.main {
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text{
    font-size: large;
    color: white;
}

.child{
    color: black;
    background-color: white;
}